@Html.Partial("Partials/_Menu")

<div class="main">
    <div class="about_banner_img" >
     <img width="100%" height="500" src="/images/url.jpg"  alt="" />
        <div class="opening_hours">
            <ul class="times">
                <h3>Opening <span class="opening">Hours</span></h3>
                <li><i class="calender"> </i><span class="week">Monday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Tuesday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Wednesday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Thrusday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Friday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Saturday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
                <li><i class="calender"> </i><span class="week">Sunday</span><div class="hours">h.8:00-h.23:00</div>  <div class="clear"></div></li>
               
                <h4>Enjoy it!</h4>
            </ul>
        </div>
    </div>
    <div class="about_banner_wrap">
        <h1 class="m_11">à propos</h1>
    </div>
    <div class="about-wrapper">
        <div class="container">
            <div class="row about-top">
                <div class="col-md-5">
                    <img src="/images/about.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-7 about-left-text">
                    <h2>Cinéma Plus!</h2>
             
                    <h4> - <span class="m_12">Best Choice For your Films</span></h4>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>