body {
   // padding-top: 50px;
   // padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   // padding-left: 15px;
    //padding-right: 15px;
    margin-top:50px;
    background-color:rgba(255,255,255,0.9);
   
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
  
}

.form-inline .form-control{
      width:auto;
}
.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}
.carousel-details {
   
    max-height: 380px;
    overflow: hidden;
}
.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;

    border:dashed;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
