<div class="header">
    <div class="container">
        <div class="header-text">
            <h1>Cinéma Plus</h1>
            <h2>Best Choice For your Films</h2>

        </div>
        <div class="header-arrow">
            <a href="#menu" class="class scroll">
                <span> </span>
            </a>
        </div><a href="#menu" class="class scroll">
        </a>
    </div><a href="#menu" class="class scroll">
    </a>
</div>
<a href="#menu" class="class scroll">
    <!-- end header_top -->
    <!-- start header_bottom -->
</a>
<div class="header-bottom">
    <a href="#menu" class="class scroll">
    </a><div class="container">
        <a href="#menu" class="class scroll">
            <div class="header-bottom_left">
                <i class="phone"> </i><span>1-200-346-2986</span>
            </div>
        </a><div class="social">
            <a href="#menu" class="class scroll">
            </a><ul>
                <a href="#menu" class="class scroll">
                </a>
                <li class="facebook"><a href="#menu" class="class scroll"></a><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
                <li class="pinterest"><a href="#"><span> </span></a></li>
                <li class="google"><a href="#"><span> </span></a></li>
                <li class="tumblr"><a href="#"><span> </span></a></li>
                <li class="instagram"><a href="#"><span> </span></a></li>
                <li class="rss"><a href="#"><span> </span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
